body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 926px;
    width: 428px;
    border: 1px solid #ccc;
    overflow-y: hidden;
    &:hover {
        overflow-y: scroll;
    }
}

header {
    background-color: #00b2ca;
}

main {
    background: white;
    
}
//footer {
//    height: 90px;
//    background: #00b2ca;
//    border-top-right-radius: 50px;
//    border-top-left-radius: 50px;
//}