* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
  }

/* ===== GENERAL, RESET ==== */
header {
    background-color: #00b2ca;
    position: relative;
  }

body {
    display: flex;
    margin: 0;
    padding: 0;
  }

hr {
    opacity: 50%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: initial;
}
a:active {
    text-decoration: none;
}

/* ===== MAIN ===== */
.container {
    /* overflow: hidden; */
    position: relative;
    /* margin: auto; */
    width: 100%;
    height: 100%;
  }

.main {
    padding: 5.5vw;
  }

.title {
    padding: 0;
    margin: 2.5vw 0;
    }

.subtitle {
    padding: 0;
    margin: 2.5vw 0;
    }

.back-icon{
    width: 10.5%;
    padding: 0;
    margin-top: 30px;
    position: absolute;
    margin-left: 25px;
}

/* ----- FILTER BAR ----- */
.filter {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    /* border: 1px solid red; */
    scroll-snap-type: x mandatory;
  }
  .filter::-webkit-scrollbar {
    display: none;
  }
.filter .pill {
    padding: 7px 20px;
    width: fit-content;
    margin: 3px;
    text-align: center;
    background-color: #F7F7F7;
    border: 0.5px solid #ADADAD;
    border-radius: 20px;
    font-size: 10px;
    color: #434344;
    transition: 200ms;
    justify-content: center;

  }
.filter .pill:hover {
    cursor: default;
    background-color: rgba(28, 105, 212, 0.1);
  }
.filter .pill:nth-child(1n) {
    flex: 0 0 25%;
}
.filter .pill:nth-child(2n) {
    flex: 0 0 20%;
}
.filter .pill:nth-child(3n) {
    flex: 0 0 25%;
}
.filter .pill:nth-child(4n) {
    flex: 0 0 25%;
}
.filter .pill:nth-child(5n) {
    flex: 0 0 30%;
}

/* ----- CONTENT CARD ----- */
.card {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    padding: 10px 0;
    margin: 0;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-start;
}
.card-img {
    width: 132px;
    height: 110px;
    object-fit: cover;
    border-radius: 15px;
}
.card-det {
    width: 200px; /* need to revise */
    margin: 0px;
    padding: 0px;
}
.card-det > p {
    font-size: 0.75rem;
    padding: 0;
    margin: 7px;
}
.card-det > h4 {
    padding: 0;
    margin: 7px;
    font-size: 0.9rem;
}
.card-pills {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 4px;
  }
.card-pills .card-pill-date {
    padding: 5px 18px;
    text-align: center;
    background-color: rgba(0, 178, 202, 0.15);
    border-radius: 20px;
    font-size: 10px;
    color: #00B2CA;
  }
.card-pills .card-pill-free {
    padding: 5px 18px;
    text-align: center;
    background-color: rgba(247, 146, 86, 0.15);
    border-radius: 20px;
    font-size: 10px;
    color: #F79256;
  }
.wrapper {
    padding: 0 0 4rem 0;
    margin: 0;
}

/* ===== BOTTOM NAV ===== */
.nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #00B2CA;
    width: 100%;
    height: 5rem;
    padding: 0 0.5rem;
    display: grid;
    align-content: center;
    border-radius:3rem 3rem 0 0;
    transition: 0.4s;
}
.nav-list, .nav-link {
    display: flex;
    padding: 1.25rem;
    margin: 0;
}
.nav-link {
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    color: white;
}
.nav-list {
    justify-content: space-between;
}
.nav-name {
    font-size: 10px;
}
.nav-icon {
    font-size: 1.5rem;
}
.nav-item a {
    color: white;
}

/* small tablet styles
@media screen and (min-width: 620px) {
    hr {
        display: none;
    }
    .title {
        margin-top: 0;
        font-size: 2rem;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        padding: 0;
    }
    .card-img {
        width: 100%;
        height: 25vh;
    }
    .card-det {
        width: 100%;
    }
    .card-det p {
        font-size: 1rem;
    }
    .card-det h4 {
        font-size: 1.2rem;
    }
    .card-pills > li{
        font-size: 2rem;
    }
    .nav-menu {
        max-width: 60%;
        left: 20%;
    }
    .nav-name {
        font-size: 13px;
    }
    .nav-icon {
        font-size: 1.8rem;
    }
    .filter .pill:nth-child(1n) {
        flex: 0 0 12%;
    }
    .filter .pill:nth-child(2n) {
        flex: 0 0 10%;
    }
    .filter .pill:nth-child(3n) {
        flex: 0 0 12%;
    }
    .filter .pill:nth-child(4n) {
        flex: 0 0 13%;
    }
    .filter .pill:nth-child(5n) {
        flex: 0 0 15%;
    }
    
} */

@media screen and (max-width: 620px) {
    .warning {
        display: none;
    }
}
@media screen and (min-width: 620px) {
    .container {
        display: none;
    }
}
